*.dbg
*.bin
*.exe
*.pdb
*.tmp
src/redeclipse_*
src/tessfont_*
src/genkey_*
bin/**/redeclipse_*
bin/**/tessfont_*
bin/**/genkey_*
bin/x86/steam_appid.txt
bin/amd64/steam_appid.txt
src/.objs/
*.o
*.so
*.gch
*.pch
*.dll
*.a
*.lib
*.bak
out
*~
.directory
.DS_Store
*.orig
*.rej
*.bak
*.kate-swp
*.core
*.diff
*.patch
*.out
home/
cache/
src/redeclipse.layout
src/redeclipse.depend
src/redeclipse.res
branch.txt
version.txt
*/version.txt
src/redeclipse.cscope_file_list
src/build/
.kdev/
.vscode/
.vs/
GPATH
GTAGS
GRTAGS
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
data/bonus/
extras.txt
src/redeclipse.code-workspace
bin/amd64/redeclipse.exp
src/redeclipse.aps
src/vcpp/.vs/
src/vcpp/client.vcxproj.user
src/vcpp/server.vcxproj.user
src/vcpp/x64/
src/vcpp/x86/
src/vcpp/Win32/
