*.dbg
*.bin
*.exe
redeclipse_client_*
redeclipse_server_*
bin/*.txt
bin/redeclipse.app/Contents/MacOS/redeclipse_*
src/.objs/
*.o
*.so
*.gch
*.pch
*.dll
*.a
*.lib
*.bak
out
*~
.directory
.DS_Store
*.orig
*.rej
*.bak
*.kate-swp
*.core
*.diff
*.patch
*.out
.gitattributes
home/
cache/
src/redeclipse.layout
src/redeclipse.depend
src/redeclipse.res
