*           text=auto
*.bat       text eol=crlf
*.c         text=auto
*.cfg       text=auto
*.cpp       text=auto
*.css       text=auto
*.h         text=auto
*.html      text=auto
*.js        text=auto
*.js.map    text=auto
*.json      text=auto
*.md        text=auto
*.php       text=auto
*.txt       text=auto
.git*       text=auto
*.sh        text eol=lf
*.a         binary
*.avi       binary
*.dds       binary
*.dll       binary
*.eot       binary
*.exe       binary
*.gif       binary
*.icns      binary
*.ico       binary
*.iqm       binary
*.jpg       binary
*.lib       binary
*.md2       binary
*.md3       binary
*.md5       binary
*.md5anim   binary
*.md5mesh   binary
*.mp3       binary
*.mp4       binary
*.nib       binary
*.ogg       binary
*.png       binary
*.smd       binary
*.tga       binary
*.ttf       binary
*.wav       binary
*.woff      binary
*.woff2     binary
