*.dbg
*.bin
*.exe
redeclipse_client_*
redeclipse_server_*
src/.objs/
*.o
*.so
*.gch
*.pch
*.dll
*.a
*.lib
*.bak
out
*~
.directory
.DS_Store
*.orig
*.rej
*.bak
*.kate-swp
*.core
*.diff
*.patch
*.out
home/
cache/
src/redeclipse.layout
src/redeclipse.depend
src/redeclipse.res
branch.txt
version.txt
*/version.txt
