# ui_gameui_main [
    #(gameui_begin_ids)

    uivlist 0 [
        uiimage "textures/logo" 0xffffff 1 (uiwidth 0.26) (uiwidth 0.13)

        ui_gameui_button [
            p_label    = "Play Online"
            p_tip      = "Browse online matches with other players"
            p_on_click = [
                gameui_open ui_gameui_online 0.66
            ]
            p_id       = #(gameui_get_id)
        ]

        ui_gameui_button [
            p_label = (? (isconnected) "Vote Map/Mode" "Offline Practice")
            p_tip   = (? (isconnected) "Begin a vote to change the map and/or mode" "Start an offline match with bots")
            p_on_click = [
                // gameui_open ui_gameui_maps 0.66
                gameui_open ui_gameui_vote 0.66
            ]
            p_id    = #(gameui_get_id)
        ]

        ui_gameui_button [
            p_label = "Player Setup"
            p_tip   = "Customize the game profile and player character"
            p_id    = #(gameui_get_id)
        ]

        ui_gameui_button [
            p_label = "Map Editor"
            p_tip   = "Create and edit maps in-game"
            p_id    = #(gameui_get_id)
        ]

        ui_gameui_button [
            p_label = "Variable Editor"
            p_tip   = "Customize game variables"
            p_id    = #(gameui_get_id)
        ]

        ui_gameui_button [
            p_label = "Settings"
            p_tip   = "Change game, graphics and sound settings"
            p_id    = #(gameui_get_id)
        ]

        ui_gameui_button [
            p_label = "Support"
            p_tip   = "Game support"
            p_id    = #(gameui_get_id)
        ]

        if $isconnected [
            ui_gameui_button [
                p_label    = "Leave game"
                p_tip      = "Leave the match and go back to the main menu"
                p_on_click = [
                    gameui_confirm "Are you sure you wish to leave this match?" [
                        disconnect
                    ]
                ]
                p_id       = #(gameui_get_id)
            ]
        ]

        ui_gameui_button [
            p_label = "Quit to desktop"
            p_tip   = "Leave the game and quit to desktop"
            p_on_click = [
                gameui_confirm "Quit the game do desktop?" [
                    quit
                ]
            ]
            p_id    = #(gameui_get_id)
        ]

        uifill 0 0.05

        ui_gameui_autoscroll [
            uicolourtext (? $gameui_hovering $gameui_tip "") 0x88ffffff
        ] [
            p_width = (uiwidth $gameui_panel_new_size)
        ]
    ]

    #(gameui_finish_ids)
]

gameui_main_handler = [
    gameui_open ui_gameui_main 0.28 0.6
    gameui_panel_first_open = 1
    gameui_panel_old_size   = 0
    gameui_panel_old_pos    = 0.5
]
// gameui_main_handler
gameui_panel_default = gameui_main_handler
