# ui_tool_ent_geoinstance = [
    ui_tool_ent_param_group "Template" [
        ui_tool_numinput #(tool_ent_attr geoinstance template) 0 999999 1 [
            #(ui_tool_ent_attr_props geoinstance template [] 1)
            p_val_format = i
            p_label = "ID"
        ]
    ]

    ui_tool_ent_param_group "Transform" [
        ui_tool_numinput #(tool_ent_attr geoinstance yaw) 0 360 1 [
            #(ui_tool_ent_attr_props geoinstance yaw [] 1)
            p_label = "Yaw"
            p_val_format = i
            p_circular = 1
        ]

        ui_tool_numinput #(tool_ent_attr geoinstance pitch) -180 180 1 [
            #(ui_tool_ent_attr_props geoinstance pitch [] 1)
            p_label = "Pitch"
            p_val_format = i
            p_circular = 1
        ]

        ui_tool_numinput #(tool_ent_attr geoinstance roll) -180 180 1 [
            #(ui_tool_ent_attr_props geoinstance roll [] 1)
            p_label = "Roll"
            p_val_format = i
            p_circular = 1
        ]

        uifill 0 $ui_tool_elem_space_l

        ui_tool_numinput #(tool_ent_attr geoinstance scale) 0 10000 10 [
            #(ui_tool_ent_attr_props geoinstance scale [] 1)
            p_label = "Scale ^%"
            p_val_format = i
        ]
    ]

    @(ui_tool_ent_flags_group geoinstance $tool_ent_geoinstance_flags [
        "No shadow"
        "No collision"
    ])

    @(ui_tool_ent_gamemode_group geoinstance)
    @(ui_tool_ent_variant_group geoinstance)
]
