# ui_tool_ent_geotemplate = [
    ui_tool_ent_param_group "Template" [
        ui_tool_numinput #(tool_ent_attr geotemplate id) 0 999999 1 [
            #(ui_tool_ent_attr_props geotemplate id [] 1)
            p_val_format = i
            p_label = "ID"
        ]
    ]

    ui_tool_ent_param_group "Half size" [
        ui_tool_numinput #(tool_ent_attr geotemplate width) 0 999999 1 [
            #(ui_tool_ent_attr_props geotemplate width [] 1)
            p_val_format = i
            p_label = "X"
        ]

        ui_tool_numinput #(tool_ent_attr geotemplate length) 0 999999 1 [
            #(ui_tool_ent_attr_props geotemplate length [] 1)
            p_val_format = i
            p_label = "Y"
        ]

        ui_tool_numinput #(tool_ent_attr geotemplate height) 0 999999 1 [
            #(ui_tool_ent_attr_props geotemplate height [] 1)
            p_val_format = i
            p_label = "Z"
        ]
    ]
]
