// shadow map alpha passes; the shadow map filters are in
// config/glsl/shared/smfilter.glsl

lazyshader $SHADER_DEFAULT "smalphaclear" [
    attribute vec4 vvertex;
    uniform vec2 shadowatlasscale;
    void main(void)
    {
        gl_Position = vec4(vvertex.xy * shadowatlasscale * 2.0 - 1.0, 0.0, 1.0);
    }
] [
    fragdata(0) vec4 fragcolor;
    void main(void)
    {
        fragcolor = vec4(1.0);
    }
]

loop i 2 [
  lazyshader $SHADER_DEFAULT (? $i "smalphablur2d" "smalphablurrect") [
    attribute vec4 vvertex;
    attribute vec4 vtexcoord0;
    uniform vec2 shadowatlasscale;
    flat varying vec4 smbounds;
    varying vec4 texcoord0;
    void main(void)
    {
        gl_Position = vec4(vvertex.xy * shadowatlasscale * 2.0 - 1.0, 0.0, 1.0);
        smbounds = (vtexcoord0 + vec4(0.5, 0.5, -0.5, -0.5)) @(? $i [* shadowatlasscale.xyxy]);
        texcoord0 = (vvertex.xyxy + vec4(-1.0, -1.0, 1.0, 1.0)) @(? $i [* shadowatlasscale.xyxy]);
    }
  ] [
    @(? $i [
        uniform sampler2D tex0;
        #define texval(tc) texture2D(tex0, tc)
    ] [
        uniform sampler2DRect tex0;
        #define texval(tc) texture2DRect(tex0, tc)
    ])
    flat varying vec4 smbounds;
    varying vec4 texcoord0;
    fragdata(0) vec4 fragcolor;
    void main(void)
    {
        vec4 tc = vec4(max(texcoord0.xy, smbounds.xy), min(texcoord0.zw, smbounds.zw));
        fragcolor = 0.25 * (texval(tc.xy) + texval(tc.zy) + texval(tc.xw) + texval(tc.zw));
    }
  ]
]
